
.sectionMobileMenu{
  display: none;
  position: absolute;
  z-index: 20;
  background-color: $yellow;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0px;
  opacity: .99;
  padding-top: 30%;
  font-size: 1.45rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.95;
  letter-spacing: 2px;
  &__list li a{
    color: $black;
    &:hover{
      text-decoration: underline;
    }
  }
}
.mobileMenu{
  display: none;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  // right: 10px;
  // top: 72px;
  z-index: 1000;
  width: 60px;
  margin-left: auto;
  @media screen and(max-width: 768px){
    display: flex;
    margin-left: auto;
  }
  &:hover{
    cursor: pointer;
  }
  &__button{
    position: relative;
    width: 15px;
  }
  &__text{
    margin-right: 2px;
  }
  &__line, &__line::before, &__line::after{
    background-color: $black;
    height: 2px;
    width: 100%;
    display: block;
    position: absolute;
    transition: .5s;
  }
  &__line{
    margin-top: -2px;
    &::before, &::after{
      content: '';
    }
    &::before{
      transform: translateY(-5px);
    }
    &::after{
      transform: translateY(5px);
    }
    &.activ{
      height: 0px;
    }
    &.activ::before{
      transform: rotate(45deg);
    }
    &.activ::after{
      transform: rotate(-45deg);
    }
  }
}
